<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CentralRoot | Custom Alarm Configuration</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/webjars/select2/4.0.13/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Datatables style -->
  <link rel="stylesheet" href="/webjars/datatables/1.10.20/css/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/plugins/datatables-rowreorder/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <!-- Tagify style -->
  <link rel="stylesheet" href="/webjars/yaireo__tagify/3.4.0/dist/tagify.css">
  <!-- jQuery -->
  <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
  <!-- Tagify -->
  <script src="/webjars/yaireo__tagify/3.4.0/dist/jQuery.tagify.min.js"></script>
  <!-- Select2JS -->
  <script src="/webjars/select2/4.0.13/js/select2.full.min.js"></script>
  <!-- DataTables -->
  <script src="/webjars/datatables/1.10.20/js/jquery.dataTables.js"></script>
  <script src="/webjars/datatables/1.10.20/js/dataTables.bootstrap4.js"></script>
  <script src="/plugins/datatables-rowreorder/js/dataTables.rowReorder.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <!-- SockJS-->
  <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
  <!-- STOMP -->
  <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto notification-bar">
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">CentralRoot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/trends" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Data Trends
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/devices" class="nav-link">
              <i class="nav-icon fas fa-microchip"></i>
              <p>
                Edge Devices
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-exclamation-circle"></i>
              <p>
                Manage Alarms
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/alarms" class="nav-link">
                  <i class="far fa-circle nav-icon text-danger"></i>
                  <p>Alarms</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/alarm-config" class="nav-link active">
                  <i class="far fa-circle nav-icon text-warning"></i>
                  <p>Alarm Config</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt text-info"></i>
              <p>
                Logout
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-header">Documentation</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Introduction</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Custom Alarm Configuration</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Alarm Config</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">New Alarm Condition</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="row">
                    <form th:action="@{/alarm-config}" th:object="${config}" th:method="post" class="alarm-condition-register form form-inline input-group input-group-lg">
                      <div class="col-12 col-xl-4 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="type">Type: </label>
                          <div class="m-2 w-100">
                            <select th:field="*{type}" class="form-control m-2 w-100" id="type" name="type">
                              <option th:value="Max" th:text="Max"></option>
                              <!--<option th:value="Min" th:text="Min"></option>-->
                            </select>
                            <div class="text-danger font-italic" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-xl-4 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="description">Description: </label>
                          <input type="text" th:field="*{description}" class="form-control m-2 w-100" id="description" name="description" placeholder="Enter description">
                          <div class="text-danger font-italic" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                        </div>
                      </div>
                      <div class="col-12 col-xl-4 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="level">Level: </label>
                          <div class="m-2 w-100">
                            <select th:field="*{level}" class="form-control m-2 w-100" id="level" name="level">
                              <option th:value="Critical" th:text="Critical"></option>
                              <option th:value="High" th:text="High"></option>
                              <option th:value="Medium" th:text="Medium"></option>
                              <option th:value="Low" th:text="Low"></option>
                            </select>
                            <div class="text-danger font-italic" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-xl-4 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="device-tags">Devices: </label>
                          <div class="m-2 w-100">
                            <select th:field="*{deviceId}" class="form-control w-100" id="device-tags" name="deviceId">
                              <option th:each="device : ${devices}" th:value="${device.deviceId}" th:text="${device.tag}"></option>
                            </select>
                            <div class="text-danger font-italic" th:if="${#fields.hasErrors('deviceId')}" th:errors="*{deviceId}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-xl-4 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="device-sensors">Sensor Type: </label>
                          <div class="m-2 w-100">
                            <select th:field="*{sensorType}" class="form-control m-2 w-100" id="device-sensors" name="sensorType">
                              <!-- js populates -->
                            </select>
                            <div class="text-danger font-italic" th:if="${#fields.hasErrors('sensorType')}" th:errors="*{sensorType}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-xl-4 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="value">Threshold Value: </label>
                          <input type="number" step="0.01" th:field="*{value}" class="form-control m-2 w-100" id="value" name="value" placeholder="Enter Threshold Value">
                          <div class="text-danger font-italic" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <button type="submit" id="btn-condition-save" class="btn btn-primary">Save Condition</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Alarm Condition List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="alarm-config-table" class="table table-striped table-hover display w-100">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Config ID:</th>
                    <th>Level:</th>
                    <th>Type:</th>
                    <th>Value:</th>
                    <th>Description:</th>
                    <th>Device Id:</th>
                    <th>Sensor Type:</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="config : ${alarm_conditions}">
                    <th></th>
                    <td th:text="${config.configId}"></td>
                    <td th:text="${config.level}"></td>
                    <td th:text="${config.type}"></td>
                    <td th:text="${config.value}"></td>
                    <td th:text="${config.description}"></td>
                    <td th:text="${config.deviceId}"></td>
                    <td th:text="${config.sensorType}"></td>
                    <th></th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="modal fade" id="modal-delete-alarm-config">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Confirmation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Do you want to delete the config?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" id="btn-delete-approve" class="btn btn-primary">Yes</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>CTIS Senior Project - Team 12, ICterra CentralRoot 2019-2020.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<script th:inline="javascript">
  var unread_alarm_size = /*[[${unreadAlarmSize}]]*/ null;
  var devices = /*[[${devices}]]*/ null;

  function connectToWebSockets() {
    var socket = new SockJS('/cr-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, onConnected, onError);
  }

  function onConnected() {
    stompClient.subscribe('/user/queue/alarm', onAlarmReceived);
  }

  function onError(error) {
    console.log('Connection Error: ' + error);
  }

  function onAlarmReceived(payload) {
    var new_unread_alarm_size = parseInt($('.unread-alarms').html(), 10)+1;
    if (Number.isNaN(new_unread_alarm_size)){
      $(".notification-bar")
      .append("<a href='/alarms' class='btn btn-block bg-danger font-weight-bold'>" +
          "There are <span class='unread-alarms'>1</span> unchecked alarms!</a>");
    }
    else {
      $(".unread-alarms").html(new_unread_alarm_size);
    }
  }

  // appends given data to select element
  function appendDataToSelect(sel, data) {
    var option = null;
    for(var i = 0; i < data.length; i++){
      option = document.createElement("option");
      option.text = data[i];
      option.value = data[i];
      sel.appendChild(option);
    }
  }

  function getSelectedDeviceSensors(devices, deviceId){
    var sensors = [];
    for (var i = 0; i < devices.length; i++) {
      if(devices[i].deviceId == deviceId){
        sensors = devices[i].sensorNames;
        break;
      }
    }
    return sensors;
  }

  document.getElementById('device-tags').onchange = function(e) {
    var sensors = getSelectedDeviceSensors(devices, this.value);

    // name of associated select list
    var device_sensor_select = document.getElementById('device-sensors');
    // remove current option elements
    device_sensor_select.innerText = '';
    appendDataToSelect(device_sensor_select, sensors);
  };

  // populate associated select list when page loads
  window.onload = function() {
    var device_select = document.getElementById('device-tags');
    device_select.selectedIndex = 0;

    // reference to associated select list
    var sensor_select = document.getElementById('device-sensors');
    var sensors = getSelectedDeviceSensors(devices, device_select.value);
    appendDataToSelect(sensor_select, sensors);

    var alarmConfigTable = $("#alarm-config-table").DataTable({
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
      },
      {
        "targets": -1,
        "searchable": false,
        "width": "6%",
        "data": null,
        "defaultContent": '<button type="button" class="btn btn-danger btn-delete-alarm-config" data-toggle="modal" data-target="#modal-delete-alarm-config">Delete</button>'
      }],
      "order": [ [ 2, 'asc' ] ],
      "deferRender": true,
      "rowReorder": {
        "selector": 'td:nth-child(2)'
      },
      "responsive": true
    });

    alarmConfigTable.on( 'order.dt search.dt', function () {
      alarmConfigTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
        cell.innerHTML = i+1;
      } );
    }).draw();


    $('#alarm-config-table tbody').on( 'click', 'button.btn-delete-alarm-config', function () {
      var row = alarmConfigTable.row($(this).parents('tr')).data();
      if(row){
        console.log("Selected config: " + row[1]);
        window.config_delete = row[1];
        window.row_delete = $(this).parents('tr');
      }
      else {
        row = alarmConfigTable.row($(this).closest('tr').prev('tr')).data();
        console.log("Selected config: " + row[1]);
        window.config_delete = row[1];
        window.row_delete = $(this).closest('tr').prev('tr');
      }
    });

    $('#btn-delete-approve').on('click', function () {
      var config_id = window.config_delete;
      var token = $('#_csrf').attr('content');
      var header = $('#_csrf_header').attr('content');
      var row_delete = window.row_delete;

      var jsonParams = {};
      jsonParams['configId'] = config_id;
      jsonParams[header] = token;

      $.ajax({
        url: '/alarm-config/'+config_id,
        cache: false,
        type: 'DELETE',
        data: jsonParams,
        dataType: 'json',
        contentType: 'application/json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        success: function (data, textStatus, jqXHR) {
          console.log("Config Delete Success: "+textStatus+" : "+data);
          alarmConfigTable.row(row_delete).remove().draw();
          $('#modal-delete-alarm-config').modal('hide');
        },
        error: function (request, status, error) {
          console.log("Config Delete Error: "+status);
        }
      });
    });

    if (unread_alarm_size > 0){
      $(".notification-bar")
      .append("<a href='/alarms' class='btn btn-block bg-danger font-weight-bold'>" +
          "There are <span class='unread-alarms'>"+unread_alarm_size+"</span> unchecked alarms!</a>");
    }

    $('#device-tags').select2();
    $('#device-sensors').select2();
    $('#level').select2();
    $('#type').select2();

    $('.alarm-condition-register').on('submit', function(e){
      e.preventDefault();
      if (testEmpty()) {
        this.submit();
      }
      else {
        alert("Please fill in all the inputs");
      }
    });

    function testEmpty()
    {
      var isFormValid = true;

      $(".alarm-condition-register input").each(function(){
        if ($.trim($(this).val()).length == 0){
          isFormValid = false;
        }
      });

      return isFormValid;
    }

    connectToWebSockets();
  };

</script>

<!-- Bootstrap 4 -->
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>

</body>
</html>