<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CentralRoot | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/webjars/select2/4.0.13/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- jQuery -->
  <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
  <!-- Select2JS -->
  <script src="/webjars/select2/4.0.13/js/select2.full.min.js"></script>
  <!-- MomentJS -->
  <script src="/webjars/momentjs/2.24.0/moment.js"></script>
  <!-- ChartJS -->
  <script src="/webjars/chart.js/2.9.3/dist/Chart.min.js"></script>
  <!-- SockJS-->
  <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
  <!-- STOMP -->
  <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto notification-bar">
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">CentralRoot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboard" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/trends" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Data Trends
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/devices" class="nav-link">
              <i class="nav-icon fas fa-microchip"></i>
              <p>
                Edge Devices
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-exclamation-circle"></i>
              <p>
                Manage Alarms
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/alarms" class="nav-link">
                  <i class="far fa-circle nav-icon text-danger"></i>
                  <p>Alarms</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/alarm-config" class="nav-link">
                  <i class="far fa-circle nav-icon text-warning"></i>
                  <p>Alarm Config</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt text-info"></i>
              <p>
                Logout
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-header">Documentation</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Introduction</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Real-time Sensor Values:&nbsp;</h5>
                <h5 id="realtime-cart-title" class="card-title"></h5>

                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item mr-2 mt-2 mt-sm-0">
                      <select class="form-control" id="realtime-device-tags">
                        <option th:each="device : ${devices}" th:value="${device.deviceId}" th:text="${device.tag}"></option>
                      </select>
                    </li>
                    <li class="nav-item mr-2 mt-2 mt-sm-0">
                      <select class="form-control" id="realtime-device-sensors">
                        <!-- js populates -->
                      </select>
                    </li>
                    <li class="nav-item mt-2 mt-sm-0">
                      <button type="button" class="btn btn-block btn-primary" id="btn-realtime">Set as Default</button>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Realtime Chart -->
                  <div class="chart tab-pane active" id="realtime-chart">
                    <canvas id="realtime-chart-canvas" height="300"></canvas>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-12 col-lg-7">
            <!-- DATA TREND & LINE CHART -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Trend</h3>

                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item mr-2 mt-2 mt-sm-0">
                      <select class="form-control" id="trend-device-tags">
                        <option th:each="device : ${devices}" th:value="${device.deviceId}" th:text="${device.tag}"></option>
                      </select>
                    </li>
                    <li class="nav-item mr-2 mt-2 mt-sm-0">
                      <select class="form-control" id="trend-device-sensors">
                        <!-- js populates -->
                      </select>
                    </li>
                    <li class="nav-item mr-2 mt-2 mt-sm-0">
                      <select class="form-control" id="trend-time-interval">
                        <option value="0">Select an Interval</option>
                        <option value="1">Last One Day</option>
                        <option value="7">Last One Week</option>
                        <option value="30">Last One Month</option>
                      </select>
                    </li>
                    <li class="nav-item mt-2 mt-sm-0">
                      <button type="button" class="btn btn-block btn-primary" id="btn-trend">Show</button>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="trend-chart">
                    <canvas id="trend-chart-canvas" height="300"></canvas>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <div class="col-12 col-lg-5">
            <!-- TABLE: LATEST ALARMS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Latest Alarms</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0" id="alarm-table">
                    <thead>
                    <tr>
                      <th>Sensor</th>
                      <th>Value</th>
                      <th>Level</th>
                      <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>CTIS Senior Project - Team 12, ICterra CentralRoot 2019-2020.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<script th:inline="javascript">
  // Realtime Graph
  var realtimeChartCanvas = document.getElementById('realtime-chart-canvas').getContext('2d');

  var realtimeChartData = {
    labels  : [],
    datasets: [
      {
        label               : 'Value',
        backgroundColor     : 'rgba(60,141,188,0.3)',
        borderColor         : 'rgba(60,141,188,0.8)',
        data                : []
      },
    ]
  };

  var realtimeChartOptions = {
    maintainAspectRatio : false,
    responsive : true,
    legend: {
      display: false
    },
    scales: {
      xAxes: [{
        gridLines : {
          display : true,
        }
      }],
      yAxes: [{
        gridLines : {
          display : true,
        }
      }]
    }
  };

  var realtimeChartConfig = {
    type: 'line',
    data: realtimeChartData,
    options: realtimeChartOptions
  };

  // Trend Graph
  var trendChartCanvas = document.getElementById('trend-chart-canvas').getContext('2d');

  var trendChartData = {
    labels  : [],
    datasets: [
      {
        label               : 'Value',
        backgroundColor     : 'rgba(60,141,188,0.9)',
        borderColor         : 'rgba(60,141,188,0.8)',
        pointRadius          : false,
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : []
      },
    ]
  };

  var trendTimeFormat = 'MM/DD/YYYY HH:mm';
  var trendChartOptions = {
    maintainAspectRatio : false,
    responsive : true,
    legend: {
      display: false
    },
    scales: {
      xAxes: [{
        type: 'time',
        time: {
          parser: trendTimeFormat,
          // round: 'day'
          tooltipFormat: 'll HH:mm'
        },
        scaleLabel: {
          display: true,
        },
        gridLines : {
          display : false,
        }
      }],
      yAxes: [{
        gridLines : {
          display : false,
        }
      }]
    }
  };

  var trendChartConfig = {
    type: 'bar',
    data: trendChartData,
    options: trendChartOptions
  };

  var devices = /*[[${devices}]]*/ null;
  var userSettings = /*[[${usersettings}]]*/ null;
  var MAX_DATA_SET_LENGTH = 25;
  var stompClient = null;

  // Adds data to a chart
  function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
      dataset.data.push(data);
      if(Object.keys(dataset.data).length > MAX_DATA_SET_LENGTH){
        chart.data.labels.shift();
        chart.data.datasets[0].data.shift();
      }
    });
    chart.update();
  }

  // Adds data to a chart
  function addTrendData(chart, data) {
    for (var i = 0; i < data.length; i++) {
      var date = new Date(data[i].time);
      var average = parseFloat(data[i].average);

      chart.data.labels.push(date);
      chart.data.datasets[0].data.push(average.toFixed(2));
    }
    chart.update();
  }

  // Removes data from a chart
  function emptyChart(chart) {
    chart.data.labels = [];
    chart.data.datasets.forEach((dataset) => {
      dataset.data = [];
    });
    chart.update();
  }

  // millisecond to 00:00:00 like time value
  function msToSec(duration) {
    var milliseconds = parseInt((duration % 1000) / 100);
    var seconds = Math.floor((duration / 1000) % 60);
    seconds = (seconds < 10) ? "0" + seconds : seconds;

    return seconds + "." + milliseconds;
  }

  function msToTime(ms) {
    var d = new Date(ms);
    return d.toLocaleTimeString("tr-TR", { timeZone: 'Asia/Istanbul', hour12: false });
  }

  function connectToWebSockets() {
    var socket = new SockJS('/cr-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, onConnected, onError);
  }

  function onConnected() {
    stompClient.subscribe('/user/queue/realtime', onRealtimeDataReceived);
    stompClient.subscribe('/user/queue/trends', onDataTrendReceived);
    stompClient.subscribe('/user/queue/alarm', onAlarmReceived);
  }

  function onRealtimeDataReceived(payload) {
    var edgeData = JSON.parse(payload.body);
    addData(window.realtimeChart, msToSec(edgeData.time), edgeData.value);
  }

  function onDataTrendReceived(payload) {
    var data = JSON.parse(payload.body);
    var chart = window.trendChart;

    emptyChart(chart);
    addTrendData(chart, data);
  }

  //var alarmSound = document.getElementById('alarmSound');
  //var audio = new Audio('/sounds/alarm-sound.mp3');

  var alarms = /*[[${alarms}]]*/ null;
  var MAX_ALARM_TABLE_SIZE = 6;
  var unread_alarm_size = /*[[${unreadAlarmSize}]]*/ null;

  function onAlarmReceived(payload) {
    var alarm = JSON.parse(payload.body);
    var alarmTableLength = $("#alarm-table > tbody > tr").length;

    if (alarmTableLength >= MAX_ALARM_TABLE_SIZE) {
      $('#alarm-table tr:last').remove();
    }

    var alarmValue = parseFloat(alarm.value);
    $("<tr><td>"+alarm.sensorType+"</td> " +
        "<td>"+alarmValue.toFixed(2)+"</td> " +
        "<td><span class='badge badge-danger'>"+alarm.level+"</span></td>" +
        "<th>"+msToTime(alarm.alarmTimestamp)+"</th></tr>")
    .prependTo("#alarm-table > tbody");

    var new_unread_alarm_size = parseInt($('.unread-alarms').html(), 10)+1;
    if (Number.isNaN(new_unread_alarm_size)){
      $(".notification-bar")
      .append("<a href='/alarms' class='btn btn-block bg-danger font-weight-bold'>" +
          "There are <span class='unread-alarms'>1</span> unchecked alarms!</a>");
    }
    else {
      $(".unread-alarms").html(new_unread_alarm_size);
    }

    //audio.play();
    //alarmSound.play();
  }

  function onError(error) {
    console.log('Connection Error: ' + error);
  }

  // appends given data to select element
  function appendDataToSelect(sel, data) {
    var option = null;
    for(var i = 0; i < data.length; i++){
      option = document.createElement("option");
      option.text = data[i];
      option.value = data[i];
      sel.appendChild(option);
    }
  }

  function getSelectedDeviceSensors(devices, deviceId){
    var sensors = [];
    for (var i = 0; i < devices.length; i++) {
      if(devices[i].deviceId == deviceId){
        sensors = devices[i].sensorNames;
        break;
      }
    }
    return sensors;
  }

  // anonymous function assigned to onchange event of controlling trend graph select list
  document.getElementById('trend-device-tags').onchange = function(e) {
    var sensors = getSelectedDeviceSensors(devices, this.value);

    // name of associated select list
    var device_sensor_select = document.getElementById('trend-device-sensors');
    // remove current option elements
    device_sensor_select.innerText = '';
    appendDataToSelect(device_sensor_select, sensors);
  };

  // anonymous function assigned to onchange event of controlling realtime graph select list
  document.getElementById('realtime-device-tags').onchange = function(e) {
    var sensors = getSelectedDeviceSensors(devices, this.value);

    // name of associated select list
    var device_sensor_select = document.getElementById('realtime-device-sensors');
    // remove current option elements
    device_sensor_select.innerText = '';
    appendDataToSelect(device_sensor_select, sensors);
  };

  document.getElementById("btn-realtime").onclick = function(e) {
    var realtime_device_select = document.getElementById('realtime-device-tags');
    var realtime_sensor_select = document.getElementById('realtime-device-sensors');

    var realtime_chart_title = document.getElementById('realtime-cart-title');
    var selected_device_index = realtime_device_select.selectedIndex;
    if (selected_device_index != -1) {
      var device_id = realtime_device_select.value;
      var device_tag = realtime_device_select.options[selected_device_index].text;
      var sensor_type = realtime_sensor_select.value;

      var token = $('#_csrf').attr('content');
      var header = $('#_csrf_header').attr('content');

      var jsonParams = {};
      jsonParams['deviceId'] = device_id;
      jsonParams['deviceTag'] = device_tag;
      jsonParams['sensorType'] = sensor_type;
      jsonParams[header] = token;
      console.log(jsonParams);

      $.ajax({
        url: '/user-settings/'+device_id,
        cache: false,
        type: 'PUT',
        data: JSON.stringify(jsonParams),
        dataType: 'json',
        contentType: 'application/json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        success: function (data, textStatus, jqXHR) {
          console.log("Default Device Set Success: "+textStatus+" : "+data);
          realtime_chart_title.innerText = device_tag + " - " + sensor_type;
          emptyChart(window.realtimeChart)
        },
        error: function (request, status, error) {
          console.log("Default Device Set Error: "+status+" : "+error);
        }
      });
    }
  };

  document.getElementById("btn-trend").onclick = function() {
    var deviceId = document.getElementById('trend-device-tags').value;
    var sensorName = document.getElementById('trend-device-sensors').value;
    var duration = document.getElementById('trend-time-interval').value;

    var dayInMillis = 1000*60*60*24;
    var endDate = new Date().getTime();
    var startDate = endDate - dayInMillis*duration;

    var options = { "deviceId": deviceId, "sensorName": sensorName, "startDate": startDate, "endDate": endDate};

    // console.log("Data trend options: "+ JSON.stringify(options));
    if (duration != 0 && stompClient){
      stompClient.send("/app/trends", {}, JSON.stringify(options));
    }
  };

  // populate associated select list when page loads
  window.onload = function() {
    var trend_device_select = document.getElementById('trend-device-tags');
    trend_device_select.selectedIndex = 0;

    var realtime_device_select = document.getElementById('realtime-device-tags');
    realtime_device_select.selectedIndex = 0;

    // reference to associated select list
    var trend_sensor_select = document.getElementById('trend-device-sensors');
    var trend_sensors = getSelectedDeviceSensors(devices, trend_device_select.value);
    appendDataToSelect(trend_sensor_select, trend_sensors);

    // reference to associated select list
    var realtime_sensor_select = document.getElementById('realtime-device-sensors');
    var realtime_sensors = getSelectedDeviceSensors(devices, realtime_device_select.value);
    appendDataToSelect(realtime_sensor_select, realtime_sensors);

    // ChartJS Objects
    window.realtimeChart = new Chart(realtimeChartCanvas, realtimeChartConfig);
    window.trendChart = new Chart(trendChartCanvas, trendChartConfig);

    var realtime_chart_title = document.getElementById('realtime-cart-title');
    if(userSettings){
      realtime_chart_title.innerText = userSettings.deviceTag + " - " + userSettings.sensorType;
    }

    $('#realtime-device-tags').select2();
    $('#realtime-device-sensors').select2();
    $('#trend-device-tags').select2();
    $('#trend-device-sensors').select2();

    alarms = alarms.slice(0, MAX_ALARM_TABLE_SIZE).reverse();
    for(var i = 0; i < alarms.length && i < MAX_ALARM_TABLE_SIZE; i++){
      var alarm = alarms[i];
      var alarmValue = parseFloat(alarm.value);
      $("<tr><td>"+alarm.sensorType+"</td> " +
          "<td>"+alarmValue.toFixed(2)+"</td> " +
          "<td><span class='badge badge-danger'>"+alarm.level+"</span></td>" +
          "<th>"+msToTime(alarm.alarmTimestamp)+"</th></tr>")
      .prependTo("#alarm-table > tbody");
    }

    if (unread_alarm_size > 0){
      $(".notification-bar")
      .append("<a href='/alarms' class='btn btn-block bg-danger font-weight-bold'>" +
          "There are <span class='unread-alarms'>"+unread_alarm_size+"</span> unchecked alarms!</a>");
    }

    connectToWebSockets();
  };

</script>

<!-- Bootstrap 4 -->
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>

</body>
</html>