<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CentralRoot | Edge Devices</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Datatables style -->
  <link rel="stylesheet" href="/webjars/datatables/1.10.20/css/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/plugins/datatables-rowreorder/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <!-- jQuery -->
  <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
  <!-- DataTables -->
  <script src="/webjars/datatables/1.10.20/js/jquery.dataTables.js"></script>
  <script src="/webjars/datatables/1.10.20/js/dataTables.bootstrap4.js"></script>
  <script src="/plugins/datatables-rowreorder/js/dataTables.rowReorder.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <!-- SockJS-->
  <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
  <!-- STOMP -->
  <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto notification-bar">
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">CentralRoot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/trends" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Data Trends
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/devices" class="nav-link active">
              <i class="nav-icon fas fa-microchip"></i>
              <p>
                Edge Devices
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-exclamation-circle"></i>
              <p>
                Manage Alarms
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/alarms" class="nav-link">
                  <i class="far fa-circle nav-icon text-danger"></i>
                  <p>Alarms</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/alarm-config" class="nav-link">
                  <i class="far fa-circle nav-icon text-warning"></i>
                  <p>Alarm Config</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt text-info"></i>
              <p>
                Logout
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-header">Documentation</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Introduction</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Edge Devices</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Edge Devices</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Device List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="device-table" class="table table-striped table-hover display w-100">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Device ID:</th>
                      <th>Tag:</th>
                      <th>Description:</th>
                      <th>Sensors:</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="device : ${devices}">
                      <th></th>
                      <td th:text="${device.deviceId}"></td>
                      <td th:text="${device.tag}"></td>
                      <td th:text="${device.description}"></td>
                      <td th:text="${device.getSensors()}"></td>
                      <th></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>CTIS Senior Project - Team 12, ICterra CentralRoot 2019-2020.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<script th:inline="javascript">
  var unread_alarm_size = /*[[${unreadAlarmSize}]]*/ null;

  function connectToWebSockets() {
    var socket = new SockJS('/cr-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, onConnected, onError);
  }

  function onConnected() {
    stompClient.subscribe('/user/queue/deviceinfo', onDeviceInfoReceived);
    stompClient.subscribe('/user/queue/alarm', onAlarmReceived);
  }

  function onAlarmReceived(payload) {
    var new_unread_alarm_size = parseInt($('.unread-alarms').html(), 10)+1;
    if (Number.isNaN(new_unread_alarm_size)){
      $(".notification-bar")
      .append("<a href='/alarms' class='btn btn-block bg-danger font-weight-bold'>" +
          "There are <span class='unread-alarms'>1</span> unchecked alarms!</a>");
    }
    else {
      $(".unread-alarms").html(new_unread_alarm_size);
    }
  }

  function onDeviceInfoReceived(payload) {
    var data = JSON.parse(payload.body);
  }

  function onError(error) {
    console.log('Connection Error: ' + error);
  }

  function requestDeviceSysInfo(deviceId){
    if (stompClient){
      stompClient.send("/app/deviceinfo", {}, JSON.stringify(deviceId));
    }
  }

  window.onload = function() {
    var deviceTable = $("#device-table").DataTable({
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
      },
      {
        "targets": -1,
        "searchable": false,
        "width": "10%",
        "data": null,
        "defaultContent": '<button type="button" class="btn btn-block btn-primary">System Info</button>'
      }],
      "order": [ [ 1, 'asc' ] ],
      "deferRender": true,
      "rowReorder": {
        "selector": 'td:nth-child(2)'
      },
      "responsive": true
    });

    deviceTable.on( 'order.dt search.dt', function () {
      deviceTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
        cell.innerHTML = i+1;
      } );
    }).draw();

    $('#device-table tbody').on( 'click', 'button', function () {
      var row = deviceTable.row($(this).parents('tr')).data();
      var deviceId = null;
      if(row){
        deviceId = row[1];
      }
      else {
        row = deviceTable.row($(this).closest('tr').prev('tr')).data();
        deviceId = row[1];
      }
      requestDeviceSysInfo(deviceId);
    });

    if (unread_alarm_size > 0){
      $(".notification-bar")
      .append("<a href='/alarms' class='btn btn-block bg-danger font-weight-bold'>" +
          "There are <span class='unread-alarms'>"+unread_alarm_size+"</span> unchecked alarms!</a>");
    }

    connectToWebSockets();
  };

</script>

<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>

</body>
</html>