<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CentralRoot | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery -->
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/webjars/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="/">Central<b>Root</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}">Login Error</div>

            <form action="home" th:action="@{/login}" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control password" placeholder="Password" name="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <div class="input-group-append reveal-addon">
                        <div class="input-group-text">
                            <span class="fas fa-eye"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" name="remember-me">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<script>
    window.onload = function() {
        $(".reveal-addon").mousedown(function () {
            $(".password").replaceWith($('.password').clone().attr('type', 'text'));
        })
        .mouseup(function () {
            $(".password").replaceWith($('.password').clone().attr('type', 'password'));
        })
        .mouseout(function () {
            $(".password").replaceWith($('.password').clone().attr('type', 'password'));
        })
        .on('touchstart', function () {
            $(".password").replaceWith($('.password').clone().attr('type', 'text'));
        })
        .on('touchend', function () {
            $(".password").replaceWith($('.password').clone().attr('type', 'password'));
        });
    }
</script>

</body>
</html>
