<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CentralRoot | Data Trends</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/webjars/select2/4.0.13/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Date Range Picker CSS -->
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap-daterangepicker/3.0.5/css/bootstrap-daterangepicker.css" />
  <!-- jQuery -->
  <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
  <!-- Select2JS -->
  <script src="/webjars/select2/4.0.13/js/select2.full.min.js"></script>
  <!-- MomentJS -->
  <script src="/webjars/momentjs/2.24.0/moment.js"></script>
  <!-- Date Range Picker JS -->
  <script src="/webjars/bootstrap-daterangepicker/3.0.5/js/bootstrap-daterangepicker.js"></script>
  <!-- ChartJS -->
  <script src="/webjars/chart.js/2.9.3/dist/Chart.min.js"></script>
  <!-- SockJS-->
  <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
  <!-- STOMP -->
  <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto notification-bar">
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">CentralRoot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/trends" class="nav-link active">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Data Trends
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/devices" class="nav-link">
              <i class="nav-icon fas fa-microchip"></i>
              <p>
                Edge Devices
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-exclamation-circle"></i>
              <p>
                Manage Alarms
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/alarms" class="nav-link">
                  <i class="far fa-circle nav-icon text-danger"></i>
                  <p>Alarms</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/alarm-config" class="nav-link">
                  <i class="far fa-circle nav-icon text-warning"></i>
                  <p>Alarm Config</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt text-info"></i>
              <p>
                Logout
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-header">Documentation</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Introduction</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Data Trends</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Data Trends</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Custom Data Trend</h3>

                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item mr-2 mb-1 mb-sm-0 mt-2 mt-sm-0">
                      <select class="form-control" id="trend-device-tags">
                        <option th:each="device : ${devices}" th:value="${device.deviceId}" th:text="${device.tag}"></option>
                      </select>
                    </li>
                    <li class="nav-item mr-2 mb-1 mb-sm-0 mt-2 mt-sm-0">
                      <select class="form-control" id="trend-device-sensors">
                        <!-- js populates -->
                      </select>
                    </li>
                    <li class="nav-item mr-2 mb-1 mb-sm-0 mt-2 mt-sm-1">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-clock"></i></span>
                        </div>
                        <input type="text" class="form-control float-right" id="custom-trend-datepicker">
                      </div>
                    </li>
                    <li class="nav-item mt-1 mt-sm-0">
                      <button type="button" class="btn btn-block btn-primary" id="btn-trend">Show</button>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Custom Trend Chart -->
                  <div class="chart tab-pane active" id="custom-chart">
                    <canvas id="custom-chart-canvas" height="350"></canvas>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>CTIS Senior Project - Team 12, ICterra CentralRoot 2019-2020.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<script th:inline="javascript">
  window.chartColors = {
    red: 'rgb(255, 99, 132)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(160, 162, 166)'
  };
  var presets = window.chartColors;

  function transparentize(color, opacity) {
    var alpha = opacity === undefined ? 0.2 : 1 - opacity;
    return Color(color).alpha(alpha).rgbString();
  }

  // Custom Data Trend Chart
  var customChartCanvas = document.getElementById('custom-chart-canvas').getContext('2d');

  var customChartData = {
    labels: [],
    datasets: [{
      backgroundColor: transparentize(presets.grey),
      borderColor: presets.grey,
      data: [],
      label: 'MINIMUM',
      fill: '+2',
      borderWidth: 1.5,
      pointRadius: 0,
    }, {
      backgroundColor: transparentize(presets.purple),
      borderColor: presets.purple,
      data: [],
      label: 'AVERAGE',
      fill: false,
      borderWidth: 1.5,
      pointRadius: 0,
    }, {
      backgroundColor: transparentize(presets.red),
      borderColor: presets.red,
      data: [],
      label: 'MAXIMUM',
      fill: 2,
      borderWidth: 1.5,
      pointRadius: 0,
    }]
  };

  var trendTimeFormat = 'MM/DD/YYYY HH:mm';
  var customChartOptions = {
    responsive: true,
    tooltips: {
      mode: 'index',
      intersect: false,
    },
    hover: {
      mode: 'nearest',
      intersect: true
    },
    maintainAspectRatio: false,
    spanGaps: false,
    elements: {
      line: {
        tension: 0.000001
      }
    },
    scales: {
      xAxes: [{
        type: 'time',
        time: {
          parser: trendTimeFormat,
          tooltipFormat: 'll HH:mm'
        }
      }],
      yAxes: [{
        stacked: true
      }]
    }
  };

  var customChartConfig = {
    type: 'line',
    data: customChartData,
    options: customChartOptions
  };

  var devices = /*[[${devices}]]*/ null;
  var stompClient = null;

  // Adds data to a chart
  function addTrendData(chart, data) {
    for (var i = 0; i < data.length; i++) {
      var date = new Date(data[i].time);
      var min = parseFloat(data[i].min);
      var avg = parseFloat(data[i].average);
      var max = parseFloat(data[i].max);

      chart.data.labels.push(date);
      chart.data.datasets[0].data.push(min.toFixed(2));
      chart.data.datasets[1].data.push(avg.toFixed(2));
      chart.data.datasets[2].data.push(max.toFixed(2));
    }
    chart.update();
  }

  // Removes data from a chart
  function emptyChart(chart) {
    chart.data.labels = [];
    chart.data.datasets.forEach((dataset) => {
      dataset.data = [];
    });
    chart.update();
  }

  function connectToWebSockets() {
    var socket = new SockJS('/cr-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, onConnected, onError);
  }

  function onConnected() {
    stompClient.subscribe('/user/queue/trends', onDataTrendReceived);
    stompClient.subscribe('/user/queue/alarm', onAlarmReceived);
  }

  var unread_alarm_size = /*[[${unreadAlarmSize}]]*/ null;

  function onAlarmReceived(payload) {
    var new_unread_alarm_size = parseInt($('.unread-alarms').html(), 10)+1;
    if (Number.isNaN(new_unread_alarm_size)){
      $(".notification-bar")
      .append("<a href='/alarms' class='btn btn-block bg-danger font-weight-bold'>" +
          "There are <span class='unread-alarms'>1</span> unchecked alarms!</a>");
    }
    else {
      $(".unread-alarms").html(new_unread_alarm_size);
    }
  }

  function onDataTrendReceived(payload) {
    var data = JSON.parse(payload.body);
    var chart = window.customChart;

    emptyChart(chart);
    addTrendData(chart, data);
  }

  function onError(error) {
    console.log('Connection Error: ' + error);
  }

  // appends given data to select element
  function appendDataToSelect(sel, data) {
    var option = null;
    for(var i = 0; i < data.length; i++){
      option = document.createElement("option");
      option.text = data[i];
      option.value = data[i];
      sel.appendChild(option);
    }
  }

  function getSelectedDeviceSensors(devices, deviceId){
    var sensors = [];
    for (var i = 0; i < devices.length; i++) {
      if(devices[i].deviceId == deviceId){
        sensors = devices[i].sensorNames;
        break;
      }
    }
    return sensors;
  }

  // anonymous function assigned to onchange event of controlling trend graph select list
  document.getElementById('trend-device-tags').onchange = function(e) {
    var sensors = getSelectedDeviceSensors(devices, this.value);

    // name of associated select list
    var device_sensor_select = document.getElementById('trend-device-sensors');
    // remove current option elements
    device_sensor_select.innerText = '';
    appendDataToSelect(device_sensor_select, sensors);
  };

  document.getElementById("btn-trend").onclick = function() {
    var deviceId = document.getElementById('trend-device-tags').value;
    var sensorName = document.getElementById('trend-device-sensors').value;

    var options = { "deviceId": deviceId, "sensorName": sensorName, "startDate": window.startDate,
      "endDate": window.endDate};

    // console.log("Data trend options: "+ JSON.stringify(options));
    if (stompClient){
      stompClient.send("/app/trends", {}, JSON.stringify(options));
    }
  };

  // populate associated select list when page loads
  window.onload = function() {
    var trend_device_select = document.getElementById('trend-device-tags');
    trend_device_select.selectedIndex = 0;
    // reference to associated select list
    var trend_sensor_select = document.getElementById('trend-device-sensors');
    var trend_sensors = getSelectedDeviceSensors(devices, trend_device_select.value);
    appendDataToSelect(trend_sensor_select, trend_sensors);

    // ChartJS Objects
    window.customChart = new Chart(customChartCanvas, customChartConfig);

    function setCustomTime(start, end) {
      window.startDate = start.valueOf();
      window.endDate = end.valueOf();
    }
    //Date range picker with time picker
    $('#custom-trend-datepicker').daterangepicker({
      timePicker: true,
      timePickerIncrement: 1,
      locale: {
        format: 'YYYY/MM/DD HH:mm A'
      },
      ranges: {
        'Today': [moment().startOf('day'), moment()],
        'Yesterday': [moment().subtract(1,'days').startOf('day'), moment().subtract(1,'days').endOf('day')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment()],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        'This Year': [moment().startOf('year'), moment()],
        'Last One Year': [moment().subtract(364, 'days'), moment()]
      }
    }, setCustomTime).prop('readonly', true);
    setCustomTime(moment().startOf('day'), moment());

    $('#trend-device-tags').select2();
    $('#trend-device-sensors').select2();

    if (unread_alarm_size > 0){
      $(".notification-bar")
      .append("<a href='/alarms' class='btn btn-block bg-danger font-weight-bold'>" +
          "There are <span class='unread-alarms'>"+unread_alarm_size+"</span> unchecked alarms!</a>");
    }

    connectToWebSockets();
  };

</script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>

</body>
</html>