<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CentralRoot | Admin Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- jQuery -->
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <!-- ChartJS -->
    <script src="/webjars/chart.js/2.9.3/dist/Chart.min.js"></script>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/admin" class="brand-link">
            <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">CentralRoot</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="/admin" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                                <i class="right fas"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/user-operations" class="nav-link">
                            <i class="nav-icon fas fa-user-cog"></i>
                            <p>
                                User Operations
                                <i class="right fas"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/device-operations" class="nav-link">
                            <i class="nav-icon fas fa-microchip"></i>
                            <p>
                                Edge Device Operations
                                <i class="right fas"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="/logout" class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt text-info"></i>
                            <p>
                                Logout
                                <i class="right fas"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-header">Documentation</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-file"></i>
                            <p>Introduction</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title active-operators">Active Operators: 0/0</h5>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content p-0">
                                    <div class="chart tab-pane active" id="active-users-chart">
                                        <canvas id="active-users-chart-canvas" height="300"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <strong>Active Operator List: </strong><span id="active-operator-list"></span>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>CTIS Senior Project - Team 12, ICterra CentralRoot 2019-2020.</strong>
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 0.0.1
        </div>
    </footer>
</div>
<!-- ./wrapper -->

<script th:inline="javascript">
    var activeUsers = /*[[${loggedinUsers}]]*/ [];
    var allUsers = /*[[${allUsers}]]*/ 0;

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    // Active Users Graph
    var realtimeChartCanvas = document.getElementById('active-users-chart-canvas').getContext('2d');

    var activeUsersChartData = {
        labels: [],
        datasets: [{
            data: [],
            backgroundColor: [],
            label: 'Users'
        }]
    };

    var activeUsersChartOptions = {
        maintainAspectRatio : false,
        responsive: true,
        legend: {
            position: 'top',
        },
        animation: {
            animateScale: true,
            animateRotate: true
        }
    };

    var activeUsersChartConfig = {
        type: 'doughnut',
        data: activeUsersChartData,
        options: activeUsersChartOptions
    };

    // Adds data to a chart
    function addActiveUserData(chart, data, label, colorName) {
        chart.data.labels.push(label);
        var color = window.chartColors[colorName];

        chart.data.datasets.forEach(function(dataset) {
            dataset.data.push(data);
            dataset.backgroundColor.push(color);
        });
        chart.update();
    }

    window.onload = function() {
        var activeUsersChart = new Chart(realtimeChartCanvas, activeUsersChartConfig);
        addActiveUserData(activeUsersChart, activeUsers.length, "Active Operators", "blue");
        addActiveUserData(activeUsersChart, allUsers - activeUsers.length, "Inactive Operators", "red");

        $(".active-operators").text("Active Operators: " + activeUsers.length + "/" + allUsers);

        for (var i = 0; i < activeUsers.length; i++){
            $("#active-operator-list").append("<h5 class='d-inline'><span class='badge badge-info m-1'>"+activeUsers[i]+"</span></h5>");
        }
        if (activeUsers.length <= 0){
            $("#active-operator-list").html("None")
        }
    };
</script>

<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>

</body>
</html>