<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CentralRoot | Device Operations</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/webjars/select2/4.0.13/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Datatables style -->
  <link rel="stylesheet" href="/webjars/datatables/1.10.20/css/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/plugins/datatables-rowreorder/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <!-- Tagify style -->
  <link rel="stylesheet" href="/webjars/yaireo__tagify/3.4.0/dist/tagify.css">
  <!-- jQuery -->
  <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
  <!-- Tagify -->
  <script src="/webjars/yaireo__tagify/3.4.0/dist/jQuery.tagify.min.js"></script>
  <!-- Select2JS -->
  <script src="/webjars/select2/4.0.13/js/select2.full.min.js"></script>
  <!-- DataTables -->
  <script src="/webjars/datatables/1.10.20/js/jquery.dataTables.js"></script>
  <script src="/webjars/datatables/1.10.20/js/dataTables.bootstrap4.js"></script>
  <script src="/plugins/datatables-rowreorder/js/dataTables.rowReorder.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">CentralRoot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/admin" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/user-operations" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                User Operations
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/device-operations" class="nav-link active">
              <i class="nav-icon fas fa-microchip"></i>
              <p>
                Edge Device Operations
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt text-info"></i>
              <p>
                Logout
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-header">Documentation</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Introduction</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Edge Devices</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Edge Devices</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Device Registration</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="row">
                    <form class="device-register form form-inline input-group input-group-lg">
                      <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                        <div class="form-group">
                          <label for="tag">Device Tag: </label>
                          <input type="text" class="form-control m-2 w-100" id="tag" name="tag" placeholder="Enter a Device Tag">
                        </div>
                      </div>
                      <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                        <div class="form-group">
                          <label for="description">Description: </label>
                          <input type="text" class="form-control m-2 w-100" id="description" name="description" placeholder="Enter device description">
                        </div>
                      </div>
                      <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                        <div class="form-group">
                          <label for="sensorNames">Sensor Types: </label>
                          <input type="text" class="m-2 w-100" id="sensorNames" name="sensorNames" placeholder="Separate with comma">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <button type="submit" id="btn-device-save" class="btn btn-primary">Save Device</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Device List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="device-table" class="table table-striped table-hover display w-100">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Device ID:</th>
                    <th>Tag:</th>
                    <th>Description:</th>
                    <th>Sensors:</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="device : ${devices}">
                    <th></th>
                    <td th:text="${device.deviceId}"></td>
                    <td th:text="${device.tag}"></td>
                    <td th:text="${device.description}"></td>
                    <td th:text="${device.getSensors()}"></td>
                    <th></th>
                    <th></th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="modal fade" id="modal-assign-to-user">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Select Users</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <select class="form-control" id="devices-assignee-users" multiple="multiple" data-placeholder="Select users" style="width: 100%;">
                          <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
                        </select>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" id="btn-assign-approve" class="btn btn-primary">Assign</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <div class="modal fade" id="modal-delete-device">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Confirmation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Do you want to delete the device?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" id="btn-delete-approve" class="btn btn-primary">Yes</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>CTIS Senior Project - Team 12, ICterra CentralRoot 2019-2020.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<script>
  // populate associated select list when page loads
  window.onload = function() {
    var deviceTable = $("#device-table").DataTable({
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
      },
      {
        "targets": -2,
        "searchable": false,
        "width": "13%",
        "data": null,
        "defaultContent": '<button type="button" class="btn btn-info btn-assign-to-user" data-toggle="modal" data-target="#modal-assign-to-user">Assign to a User</button>'
      },
        {
          "targets": -1,
          "searchable": false,
          "width": "6%",
          "data": null,
          "defaultContent": '<button type="button" class="btn btn-danger btn-delete-device" data-toggle="modal" data-target="#modal-delete-device">Delete</button>'
        }],
      "order": [ [ 2, 'asc' ] ],
      "deferRender": true,
      "rowReorder": {
        "selector": 'td:nth-child(2)'
      },
      "responsive": true
    });

    deviceTable.on( 'order.dt search.dt', function () {
      deviceTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
        cell.innerHTML = i+1;
      } );
    }).draw();

    $('#device-table tbody').on( 'click', 'button.btn-assign-to-user', function () {
      $('#devices-assignee-users').select2('val', 'All');

      var row = deviceTable.row($(this).parents('tr')).data();
      if(row){
        console.log("Selected device id: " + row[1]);
      }
      else {
        row = deviceTable.row($(this).closest('tr').prev('tr')).data();
        console.log("Selected device id: " + row[1]);
      }

      var deviceId = window.selectedDeviceId = row[1];
      var token = $('#_csrf').attr('content');
      var header = $('#_csrf_header').attr('content');

      $.ajax({
        url: '/device/'+deviceId,
        cache: false,
        dataType: 'json',
        contentType: 'application/json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        success: function (data, textStatus, jqXHR) {
          for (var i = 0; i < data.length; i++) {
            var username = data[i];
            $("#devices-assignee-users").select2("trigger", "select", {
              data: { id: username }
            });
          }
        },
        error: function (request, status, error) {
          console.log("Devices Assignee User List Success: "+status);
        }
      });

    });

    $('#btn-assign-approve').on('click', function () {
      var usernames = $('#devices-assignee-users').val();
      console.log("selected values: "+usernames);

      var deviceId = window.selectedDeviceId;
      var token = $('#_csrf').attr('content');
      var header = $('#_csrf_header').attr('content');

      var jsonParams = {};
      jsonParams['usernames'] = usernames;

      $.ajax({
        url: '/device/' + deviceId,
        cache: false,
        type: 'PUT',
        data: JSON.stringify(jsonParams),
        //dataType: 'json',
        contentType: 'application/json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        success: function (data, textStatus, jqXHR) {
          console.log("Default Device Set Success: "+textStatus+" : "+data);
          $('#modal-assign-to-user').modal('hide');
        },
        error: function (request, status, error) {
          console.log("Default Device Set Error: "+request+" - "+status+" - "+error);
        }
      });
    });

    $('#devices-assignee-users').select2();

    $('#sensorNames').tagify({
      duplicates:false,
      strip: true,
      className: "sensor-names",
      pattern: /^[a-zA-Z0-9-]{1,16}$/
    });
  };

</script>

<!-- Bootstrap 4 -->
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>

</body>
</html>