<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CentralRoot | User Operations</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Datatables style -->
  <link rel="stylesheet" href="/webjars/datatables/1.10.20/css/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/plugins/datatables-rowreorder/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <!-- jQuery -->
  <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
  <!-- DataTables -->
  <script src="/webjars/datatables/1.10.20/js/jquery.dataTables.js"></script>
  <script src="/webjars/datatables/1.10.20/js/dataTables.bootstrap4.js"></script>
  <script src="/plugins/datatables-rowreorder/js/dataTables.rowReorder.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">CentralRoot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/admin" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/user-operations" class="nav-link active">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                User Operations
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/device-operations" class="nav-link">
              <i class="nav-icon fas fa-microchip"></i>
              <p>
                Edge Device Operations
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt text-info"></i>
              <p>
                Logout
                <i class="right fas"></i>
              </p>
            </a>
          </li>
          <li class="nav-header">Documentation</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Introduction</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">User Operations</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">User Operations</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">User Registration</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="row">
                    <form th:action="@{/user}" th:object="${user}" th:method="post" class="user-register form form-inline input-group input-group-lg">
                      <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label for="username">Username: </label>
                          <input type="text" th:field="*{username}" class="form-control m-2 w-100" id="username" name="username" placeholder="Enter username">
                          <div class="text-danger font-italic" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        </div>
                      </div>
                      <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="password">Password: </label>
                          <input type="text" th:field="*{password}" class="form-control m-2 w-100" id="password" name="password" placeholder="Enter password">
                          <div class="text-danger font-italic" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                      </div>
                      <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="firstName">Name: </label>
                          <input type="text" th:field="*{firstName}" class="form-control m-2 w-100" id="firstName" name="firstName" placeholder="Enter name">
                          <div class="text-danger font-italic" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                        </div>
                      </div>
                      <div class="col-12 col-xl-3 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="lastName">Surname: </label>
                          <input type="text" th:field="*{lastName}" class="form-control m-2 w-100" id="lastName" name="lastName" placeholder="Enter surname">
                          <div class="text-danger font-italic" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <button type="submit" id="btn-user-save" class="btn btn-primary">Save User</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="user-table" class="table table-striped table-hover display w-100">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Username:</th>
                    <th>Name:</th>
                    <th>Surname:</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user : ${users}">
                    <th></th>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <th></th>
                    <th></th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="modal fade" id="modal-delete-user">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Confirmation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Do you want to delete the user?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" id="btn-delete-approve" class="btn btn-primary">Yes</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>CTIS Senior Project - Team 12, ICterra CentralRoot 2019-2020.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<script>
  // populate associated select list when page loads
  $(function() {
    var userTable = $("#user-table").DataTable({
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
      },
        {
          "targets": -2,
          "searchable": false,
          "width": "12%",
          "data": null,
          "defaultContent": '<button type="button" class="btn btn-info btn-change-password">Change Password</button>'

        },
        {
          "targets": -1,
          "searchable": false,
          "width": "9%",
          "data": null,
          "defaultContent": '<button type="button" class="btn btn-danger btn-delete-user" data-toggle="modal" data-target="#modal-delete-user">Delete User</button>'
        }],
      "order": [ [ 1, 'asc' ] ],
      "deferRender": true,
      "rowReorder": {
        "selector": 'td:nth-child(2)'
      },
      "responsive": true
    });

    userTable.on( 'order.dt search.dt', function () {
      userTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
        cell.innerHTML = i+1;
      } );
    }).draw();

    $('#user-table tbody').on( 'click', 'button.btn-change-password', function () {
      var row = userTable.row($(this).parents('tr')).data();
      if(row){
        console.log("Selected username: " + row[1]);
      }
      else {
        row = userTable.row($(this).closest('tr').prev('tr')).data();
        console.log("Selected username: " + row[1]);
      }
    });

    $('#user-table tbody').on( 'click', 'button.btn-delete-user', function () {
      var row = userTable.row($(this).parents('tr')).data();
      if(row){
        console.log("Selected username: " + row[1]);
        window.username_delete = row[1];
        window.row_delete = $(this).parents('tr');
      }
      else {
        row = userTable.row($(this).closest('tr').prev('tr')).data();
        console.log("Selected username: " + row[1]);
        window.username_delete = row[1];
        window.row_delete = $(this).closest('tr').prev('tr');
      }
    });

    $('#btn-delete-approve').on('click', function () {
      var username = window.username_delete;
      var token = $('#_csrf').attr('content');
      var header = $('#_csrf_header').attr('content');
      var row_delete = window.row_delete;

      var jsonParams = {};
      jsonParams['username'] = username;
      jsonParams[header] = token;

      $.ajax({
        url: '/user/'+username,
        cache: false,
        type: 'DELETE',
        data: jsonParams,
        dataType: 'json',
        contentType: 'application/json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        success: function (data, textStatus, jqXHR) {
          console.log("User Delete Success: "+textStatus+" : "+data);
          userTable.row(row_delete).remove().draw();
          $('#modal-delete-user').modal('hide');
        },
        error: function (request, status, error) {
          console.log("User Delete Error: "+status);
        }
      });
    });

    $('.user-register').on('submit', function(e){
      e.preventDefault();
      if (testEmpty()) {
        this.submit();
      }
      else {
        alert("Please fill in all the inputs");
      }
    });

    function testEmpty()
    {
      var isFormValid = true;

      $(".user-register input").each(function(){
        if ($.trim($(this).val()).length == 0){
          isFormValid = false;
        }
      });

      return isFormValid;
    }
  });

</script>

<!-- Bootstrap 4 -->
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>

</body>
</html>